<footer class="text-center py-20 px-20 bg-[#222] text-white bg-dark">
    <div class="links">
        <a href=""><i class="fa-brands fa-square-facebook"></i></a>
        <a href=""><i class="fa-brands fa-instagram"></i></a>
        <a href=""><i class="fa-brands fa-linkedin"></i></a>
        <a href=""><i class="fa-brands fa-square-github"></i></a>
    </div>
  © 2025 Qnetic — All rights reserved.
        <div class="f-links">
            <a href="/privacy">Privacy</a> |
            <a href="/terms">Terms</a>
        </div>
</footer>