<nav class="navbar navbar-expand-lg bg-dark navbar-dark py-3 px-3">
  <div class="container-fluid d-flex align-items-center bg-dark">
    
    <div class="d-flex align-items-center bg-dark">
      <img src="/images/queue.png" alt="NexQ Logo" width="50" height="50" class="me-2 bg-dark">
      <a class="navbar-brand mb-0 h1 fs-3 bg-dark" href="#" style="color: white;">Qnetic</a>
    </div>
    
    <div class="ms-auto bg-dark">
      <button class="btn btn-outline-success px-4 py-2" type="button">Login</button>
    </div>
    
  </div>
</nav>
